/* header buttons */
.buttons{
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 32rem;
    gap: 2rem;
    margin-top: 3rem;

}
.buttons .bton{
    border: none;
    border-radius: 5rem;
    width: 15rem;
    background-color: var(--primary-color);
}
.buttons .contact-btn{
    background-color: white;
    color: rgb(0, 0, 0);
    position: relative;
    z-index: 0;

}
.buttons .contact-btn:hover{
    background-color: transparent;
    color: white;
}


.buttons .contact-btn::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: inherit;

    transition: all .5s;
    transform: translateY(6rem);
    transform-origin: bottom;
    opacity: 0;
    background-color: var(--primary-color);
}

.buttons .contact-btn:hover::before{
    opacity: 1;
    transform: translateY(0);
}

.buttons .tariff-btn{
    color: white;
    position: relative;
}

.bton{
    border: none;
    border-radius: 5rem;
    width: 15rem;
    background-color: var(--primary-color);
}

.date-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;

    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    bottom: 9rem;
  }

  .label {
    font-weight: bold;
    margin-bottom: 8px;
  }

  .date-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }

