/* header buttons */
.buttons{
 
    display: flex;
    justify-content: space-between;
    max-width: 32rem;
    margin: 0 auto;
    margin-top: 3rem;
}
.buttons .bton{
    border: none;
    border-radius: 5rem;
    width: 15rem;
    background-color: var(--primary-color);
}
.buttons .contact-btn{
    background-color: white;
}
.buttons .tariff-btn{
    color: white;
}

.bton{
    border: none;
    border-radius: 5rem;
    width: 15rem;
    background-color: var(--primary-color);
}