.flex-sp-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.bton{
    padding: 1rem 2rem;
    cursor: pointer;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}